@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
.headboard-steps-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.headboard-steps-holder {
    display: flex;
    align-items: flex-start;
 }

.headboard-steps-content {
    width: calc(100% - 340px);
}

.headboard-steps-summary {
    width: 300px;
    margin-left: 40px;
}


/*Headboard steps title*/

.headboard-steps-title {
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: #373b44;
    border: 1px solid #373b44;
}

.steps-title-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.steps-title-list .steps-title-item {
    width: 100%;
    padding: 15px 15px 13px;
    background-color: #fff;
    position: relative;
}

.steps-title-list .steps-title-item:nth-child(3) {
    width: 110%;
}

.steps-title-list .steps-title-item:last-child {
    width: 75%;
}

.steps-title-list .steps-title-item.active {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.step-title-counter {
    padding-right: 12px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.step-title-counter:after {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #373b44;
    position: absolute;
    top: 2px;
    right: 4px;
}

.steps-title-item.active .step-title-counter:after {
    background-color: #fff;
}

.step-title-value {
    margin-left: 27px;
}


/*Headboard steps summary*/

.headboard-steps-summary {
    background-color: #e9e7e4;
    padding: 20px 20px 30px;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.12px;
}

.steps-summary-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.steps-summary-list > li {
    position: relative;
    padding: 8px 0 6px;
    border-bottom: 1px solid #d5d3ce;
}

.step-summary-counter {
    padding-right: 12px;
    position: absolute;
    left: 0;
    top: 8px;
    line-height: 22px;
}

.step-summary-counter:after {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #373b44;
    position: absolute;
    top: 4px;
    right: 4px;
}

.step-summary-title {
    display: inline-block;
    margin-left: 27px;
    text-transform: uppercase;
    line-height: 22px;
}

.step-summary-title-mark {
    font-size: 22px;
    margin: -2px 0;
    display: inline-block;
}

.step-summary-value {
    margin: 0 0 0 27px;
    color: #613a43;
    line-height: 22px;
}

.steps-summary-actions {
    background-color: #e9e7e4;
    padding-top: 30px;
    margin-top: -2px;
    position: relative;
    z-index: 1;
}

.steps-summary-actions .button {
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 16px 10px 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #613a43;
}

.steps-summary-actions .button:hover {
    color: #fff;
    background-color: #7b545d;
}

/*Common steps*/

.step-title {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2.24px;
    text-align: center;
    margin: 0 0 35px;
}

.headboard-fieldset .radio-option{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.headboard-fieldset .radio-label {
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    color: #5f636c;
    cursor: pointer;
    position: relative;
    padding: 3px 0 1px 41px;
    margin-bottom: 10px;
}

.headboard-fieldset .radio-option:checked + .radio-label {
    color: #613a43;
}

.headboard-fieldset .radio-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #5f636c;
    background-color: #fff;
}

.headboard-fieldset .radio-option:checked + .radio-label:before {
    background: url(../images/radio-checked.png) no-repeat center #613a43;
    border-color: #613a43;
}

.headboard-fieldset.double-fields {
    display: flex;
    justify-content: center;
}

.headboard-fieldset.multiple-fields {
    margin-bottom: 30px;
}

.headboard-fieldset.multiple-fields:last-child {
    margin-bottom: 0;
}

.headboard-fieldset.double-fields .field {
    padding: 0 40px;
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}

.headboard-fieldset.double-fields .field:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    right: 0;
    top: 5px;
    background-color: #5f636c;
}

.headboard-fieldset.double-fields .field:first-child {
    padding-left: 0;
    text-align: right;
}

.headboard-fieldset.double-fields .field:last-child {
    padding-right: 0;
    text-align: left;
}

.headboard-fieldset.double-fields .field:last-child:after {
    display: none;
}

.headboard-fieldset.list-fields .field {
    margin-bottom: 10px;
}

/*Step 1*/

.step1-hint {
    text-align: center;
}

.headboard-height-table {
    color: #373b44;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.35px;
    margin-top: 30px;
}

.headboard-height-table th,
.headboard-height-table td {
    padding: 15px 20px 16px;
    border-bottom: 1px solid #d5d3ce;
}

.headboard-height-table th {
    font-weight: 400;
    color: #613a43;
}

.headboard-height-table tbody th,
.headboard-height-table tbody td {
    cursor: pointer;
}

.headboard-height-table tbody th {
    border-right: 1px solid #d5d3ce;
}

.headboard-height-table tbody tr:hover {
    background-color: #e9e7e4;
}

.headboard-height-table tbody tr.active {
    cursor: auto;
    background-color: #e9e7e4;
}

.headboard-height-table td.price-cell {
    font-weight: 900;
    color: #613a43;
}

.headboard-height-table .table-radio-option {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.headboard-height-table .table-radio-label {
    margin: 0;
    font-weight: 400;
    cursor: pointer;
}

.step1-hint-bottom {
    color: #000;
    letter-spacing: 0.35px;
    line-height: 16px;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: -20px;
}

.step1-hint-bottom p {
    margin: 0;
}


/*Step 2*/
#step2-options {
    margin: 35px 0 -20px;
}

.headboard-fieldset .swatch-radio-option {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
}

.step2-swatches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.step2-swatches::after {
    content: "";
    flex: auto;
}

.swatch-field {
    width: 20%;
    padding: 0 6px;
    margin-bottom: 20px;
}

.swatch-radio-label {
    text-align: center;
    cursor: pointer;
}

.swatch-radio-label .label-text{
    font-weight: 400;
    font-size: 14px;
    color: #5f636c;
    display: inline-block;
    margin-top: 10px;
}

.headboard-fieldset .swatch-radio-label .label-image {
    display: inline-block;
    position: relative;
}

.headboard-fieldset .swatch-radio-option:checked + .swatch-radio-label .label-image:after{
    content: '';
    width: 45px;
    height: 45px;
    background: url(../images/swatch-checked.png) no-repeat center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Step 3*/

.step3-hint {
    width: 390px;
    margin: 0 auto 40px;
    line-height: 20px;
    letter-spacing: 0.35px;
    color: #373b44;
    text-align: center;
}

/*Step 5*/

.step5-hint {
    float: left;
    margin-right: 40px;
}

#step5 .headboard-options {
    margin-top: 50px;
}


/*Step 6*/

.headboards-qty-label {
    color: #373b44;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    margin: 0 20px 0 0;
}

.headboards-qty-container {
    width: 96px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid #373b44;
    position: relative;
    padding-right: 29px;
}

#headboards-qty {
    border: 0;
    margin: 0;
    padding: 5px 0 5px 20px;
    width: 65px;
    height: 46px;
    background-color: #fff;
    color: #373b44;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.4px;
}

.headboards-qty-btn {
    cursor: pointer;
    width: 29px;
    height: 23px;
    position: absolute;
    right: 0;
    text-indent: -100000px;
}

.headboards-qty-btn.plus-btn {
    top: 0;
    background: url(../images/up-arrow.png) no-repeat 10px 15px;
}
.headboards-qty-btn.minus-btn {
    bottom: 0;
    background: url(../images/down-arrow.png) no-repeat 10px 3px;
}

#step6 .headboard-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Add to Cart*/

.headboards-add-to-cart-container {
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.headboards-add-to-cart-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.headboard-add-to-cart {
    width: 300px;
    height: 48px;
    background-color: #613a43;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.12px;
    color: #fff;
    border: 0;
    border-radius: 0;
}

.headboard-add-to-cart:hover {
    color: #fff;
    background-color: #7b545d;
}

.headboard-steps-price {
    color: #373b44;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.headboards-manufacturing {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.35px;
}

.manufacturing-info {
    color: #000;
}

.manufacturing-link a {
    color: #373b44;
}

.manufacturing-link a:hover,
.manufacturing-link a:focus {
    color: #373b44;
    text-decoration: underline;
}

.err-msg {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.headboards-additional-info {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.35px;
    margin-bottom: 10px;
    margin-top: 30px;
}