<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>

<?php
    $stepTitles = $block->getStepTitles();
?>

<div class="headboard-steps-container">
    <div class="headboard-steps-title">
        <input type="hidden" id="headboard-parent-id" name="headboardParentId" value="<?php echo $this->getCurrentProduct()->getId(); ?>">
        <ul class="steps-title-list">
            <?php foreach ($stepTitles as $key => $stepTitle): ?>
                <li id="steps-title-item<?php echo $key + 1; ?>"
                    class="steps-title-item<?php echo $key === 0 ? ' active' : ''?>" data-step="<?php echo $key + 1; ?>">
                    <span class="step-title-counter"><?php echo $key + 1; ?></span>
                    <span class="step-title-value"><?php echo __($stepTitle); ?></span>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="headboard-steps-holder">
        <div class="headboard-steps-content">
            <?php echo $block->getChildHtml('headboard.steps.block'); ?>
        </div>
        <?php echo $block->getChildHtml('headboard.steps.mini.block'); ?>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".headboard-steps-container": {
            "stepsWithOptions": {}
        }
    }
</script>
