<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>

<div class="headboards-add-to-cart-container">
    <div class="headboards-add-to-cart-box">
        <?php echo $this->getChildHtml('headboard.steps.price') ?>
        <button type="button" disabled="disabled"
                class="headboard-add-to-cart">
            <span><?php echo __('Add To Basket') ?></span>
        </button>
    </div>
    <div class="headboards-manufacturing">
        <div class="manufacturing-info">
            <?php echo __('Usually Manufactured 3 weeks'); ?>
        </div>
        <div class="manufacturing-link">
            <a href="#"><?php echo __('More Information'); ?></a>
        </div>
    </div>
</div>

<script type="text/x-magento-init">
    {
        ".headboard-add-to-cart": {
            "headboardAddToCart": {}
        }
    }
</script>
