<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>

<div class="headboard-steps-price" data-first-price="<?php echo $block->getCurrencyFormat($block->getHeadboardChildProductsMinPrice($block->getCurrentProduct()), false); ?>">
    <span class="currency"><?php echo $block->getCurrencySymbol(); ?></span><span class="price"><?php echo $block->getCurrencyFormat($block->getHeadboardChildProductsMinPrice($block->getCurrentProduct()), false); ?></span>
</div>
