<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>
<div id="step6">
    <h1 class="step-title"><?php echo __('Quantity'); ?></h1>
    <div class="headboard-options">
        <label class="headboards-qty-label" for="headboards-qty"><?php echo __('Enter Quantity'); ?></label>
        <div class="headboards-qty-container">
            <input type="number" name="headboards-qty" id="headboards-qty" class="headboards-qty" value="1" min="1" maxlength="3" max="9999"/>
            <span class="headboards-qty-btn plus-btn" data-button="+">+</span>
            <span class="headboards-qty-btn minus-btn" data-button="-">-</span>
        </div>
    </div>
</div>
