<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>
<div id="step3">
    <?php $productOptions = $this->getProductOptions($this->getProductById($this->getChildId())); ?>
    <?php $stepThreeOptions = array_slice($productOptions, 2, 2); ?>

    <h1 class="step-title"><?php echo __('Fire Retardency'); ?></h1>
    <div class="headboard-options">
        <?php foreach ($stepThreeOptions as $key => $option): ?>
            <div class="headboard-fieldset double-fields multiple-fields">
                <?php foreach ($option->getValues() as $k => $optionValue): ?>
                    <div class="field required">
                        <input
                                type="radio"
                                id="step-three-option-<?php echo $optionValue->getOptionId(); ?>-<?php echo $k; ?>"
                                class="radio-option validate"
                                name="step-three-option-<?php echo $optionValue->getOptionId(); ?>"
                                data-title="<?php echo $optionValue->getTitle(); ?>"
                                data-option-price="<?php echo $optionValue->getPrice(); ?>"
                                data-option-id="<?php echo $optionValue->getOptionId(); ?>"
                                data-option-value-id="<?php echo $k; ?>"
                                value="<?php echo $optionValue->getOptionId(); ?>" />
                        <label class="radio-label" for="step-three-option-<?php echo $optionValue->getOptionId(); ?>-<?php echo $k; ?>">
                            <span><?php echo $optionValue->getTitle(); ?></span>
                        </label>
                    </div>
                <?php endforeach; ?>
            </div>
            <?php if ($key === 0): ?>
                <div class="step3-hint hide">
                    <?php echo __('Disclaimer: beds and boards used for commercial purpose, are supposed to have fire redundancy'); ?>
                </div>
            <?php endif ?>
        <?php endforeach; ?>
    </div>
</div>
