<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>
<div id="step2" class="headboard-step">
    <?php $productOptions = $this->getProductOptions($this->getProductById($this->getChildId())); ?>
    <?php $stepTwoOptions = array_slice($productOptions, 0, 2); ?>

    <?php $optionSwatchByFabric = $stepTwoOptions[0]; ?>
    <?php $optionSwatchByColor = $stepTwoOptions[1]; ?>

    <div class="headboard-fieldset step2-switchers double-fields">
        <div class="field required">
            <input
                    type="radio"
                    checked="checked"
                    id="step2-switcher1"
                    data-options-id="step2-options1"
                    class="radio-option radio-option-switcher"
                    name="step2-switcher"
                    value="<?php echo $optionSwatchByFabric->getOptionId(); ?>" />
            <label class="radio-label" for="step2-switcher1"><span><?php echo $optionSwatchByFabric->getTitle(); ?></span></label>
        </div>
        <div class="field required">
            <input
                    type="radio"
                    id="step2-switcher2"
                    data-options-id="step2-options2"
                    class="radio-option radio-option-switcher"
                    name="step2-switcher"
                    value="<?php echo $optionSwatchByColor->getOptionId(); ?>" />
            <label class="radio-label" for="step2-switcher2"><span><?php echo $optionSwatchByColor->getTitle(); ?></span></label>
        </div>
    </div>
    <div id="step2-options">
        <div id="step2-options1" class="step2-options-box show">
            <fieldset class="headboard-fieldset">
                <div class="step2-swatches">
                    <?php foreach ($block->getSortedOptionValuesBySku($optionSwatchByFabric) as $groupTitle => $optionValuesGroup): ?>
                        _____________<?php echo $groupTitle; ?>______________
                        <p>
                        <?php foreach ($optionValuesGroup as $key => $optionValue): ?>
                            <div class="field required swatch-field">
                                <input
                                        type="radio"
                                        id="step-two-first-option<?php echo $key; ?>"
                                        class="swatch-radio-option validate"
                                        name="step-two-option"
                                        data-title="<?php echo $optionValue['title']; ?>"
                                        data-option-price="<?php echo $optionValue['price']; ?>"
                                        data-option-id="<?php echo $optionValue['option_id']; ?>"
                                        data-option-value-id="<?php echo $key; ?>"
                                        value="<?php echo $optionValue['option_id']; ?>" />
                                <label for="step-two-first-option<?php echo $key; ?>" class="swatch-radio-label">
                                    <span class="label-image">
                                        <img src="<?php echo $this->getViewFileUrl
                                        ('Headboards_Catalog::images/step2-image-placeholder.png'); ?>"
                                             alt="<?php echo __('Placeholder'); ?>" />
                                    </span>
                                    <span class="label-text"><?php echo $optionValue['title']; ?></span>
                                </label>
                            </div>
                        <?php endforeach; ?>
                        </p>
                    <?php endforeach; ?>
                </div>
            </fieldset>
        </div>
        <div id="step2-options2" class="step2-options-box hide">
            <fieldset class="headboard-fieldset">
                <div class="step2-swatches">
                    <?php foreach ($block->getSortedOptionValuesBySku($optionSwatchByColor) as $groupTitle => $optionValuesGroup): ?>
                        _____________<?php echo $groupTitle; ?>______________
                        <p>
                        <?php foreach ($optionValuesGroup as $key => $optionValue): ?>
                            <div class="field required swatch-field">
                                <input
                                        type="radio"
                                        id="step-two-second-option<?php echo $key; ?>"
                                        class="swatch-radio-option validate"
                                        name="step-two-option"
                                        data-title="<?php echo $optionValue['title']; ?>"
                                        data-option-price="<?php echo $optionValue['price']; ?>"
                                        data-option-id="<?php echo $optionValue['option_id']; ?>"
                                        data-option-value-id="<?php echo $key; ?>"
                                        value="<?php echo $optionValue['option_id']; ?>" />
                                <label for="step-two-second-option<?php echo $key; ?>" class="swatch-radio-label">
                                    <span class="label-image">
                                        <img src="<?php echo $this->getViewFileUrl
                                        ('Headboards_Catalog::images/step2-image-placeholder.png'); ?>"
                                             alt="<?php echo __('Placeholder'); ?>" />
                                    </span>
                                    <span class="label-text"><?php echo $optionValue['title']; ?></span>
                                </label>
                            </div>
                        <?php endforeach; ?>
                        </p>
                    <?php endforeach; ?>
                </div>
            </fieldset>
        </div>
    </div>
</div>
