<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>
<div id="step5">
    <?php $productOptions = $this->getProductOptions($this->getProductById($this->getChildId())); ?>
    <?php $stepFiveOptions = array_slice($productOptions, 6, 1); ?>

    <h1 class="step-title"><?php echo __('Please select the height of your Headboard'); ?></h1>
    <div class="step5-hint">
        <img src="<?php echo $this->getViewFileUrl
        ('Headboards_Catalog::images/step5-hint.png'); ?>"
             alt="<?php echo __('Placeholder'); ?>" />
    </div>
    <div class="headboard-options">
        <?php foreach ($stepFiveOptions as $option): ?>
            <div class="headboard-fieldset list-fields">
                <?php foreach ($option->getValues() as $k => $optionValue): ?>
                    <div class="field required">
                        <input
                                type="radio"
                                id="step-five-option-<?php echo $optionValue->getOptionId(); ?>-<?php echo $k; ?>"
                                class="radio-option validate"
                                name="step-five-option-<?php echo $optionValue->getOptionId(); ?>"
                                data-title="<?php echo $optionValue->getTitle(); ?>"
                                data-option-price="<?php echo $optionValue->getPrice(); ?>"
                                data-option-id="<?php echo $optionValue->getOptionId(); ?>"
                                data-option-value-id="<?php echo $k; ?>"
                                value="<?php echo $optionValue->getOptionId(); ?>" />
                        <label class="radio-label" for="step-five-option-<?php echo $optionValue->getOptionId(); ?>-<?php echo $k; ?>">
                            <span><?php echo $optionValue->getTitle(); ?></span>
                        </label>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endforeach; ?>
    </div>
</div>
