<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>

<?php
    $stepTitles = $block->getStepTitlesMini();
?>

<div id="steps-mini-block" class="headboard-steps-summary">
    <div>
        <ul class="steps-summary-list">
            <?php foreach ($stepTitles as $key => $stepTitle): ?>
                <li id="summary-step<?php echo $key + 1; ?>" class="steps-summary-list-item <?php echo $key === 0 ? 'show' : 'hide'?>">
                    <span class="step-summary-counter"><?php echo $key + 1; ?></span>
                    <span class="step-summary-title"><?php echo __($stepTitle); ?><span class="step-summary-title-mark">:</span></span>
                    <p class="step-summary-value"><?php echo $key === 5 ? '1' : ''?></p>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="steps-summary-actions">
        <button type="button" class="button headboard-next-step" data-current-step="1">
            <span><?php echo __('Next Step') ?></span>
        </button>
    </div>
    <div class="err-msg"></div>
</div>
