<?php
/**
 * Headboards Catalog Block StepsWithOptions
 *
 * @category  Headboards
 * @package   Headboards\Catalog
 * @author    Dmitry Mosaniuk
 * @copyright 2018 Dmitry_Mosaniuk
 */

/** @var $block Headboards\Catalog\Block\StepsWithOptions */
?>
<?php
    $headboardChildProducts = $this->getHeadboardLinkedProducts($this->getCurrentProduct());
?>
<?php if ($headboardChildProducts): ?>
    <div id="step1" class="headboard-step active">
        <div class="step1-hint">
            <img src="<?php echo $this->getViewFileUrl('Headboards_Catalog::images/step1-hint.png'); ?>"
                 alt="<?php echo __('Height hint'); ?>" />
        </div>
        <table class="headboard-height-table">
            <thead>
                <tr>
                    <th></th>
                    <th><span><?php echo __('A-Width'); ?></span></th>
                    <th><span><?php echo __('B-Length'); ?></span></th>
                    <th><span><?php echo __('C-Height'); ?></span></th>
                    <th><span><?php echo __('D-Headboard'); ?></span></th>
                    <th><span><?php echo __('E-Base'); ?></span></th>
                    <th><span><?php echo __('Price'); ?></span></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($headboardChildProducts as $key => $childProduct): ?>
                <tr>
                    <th>
                        <input
                                type="radio"
                                id="child-product<?php echo $key + 1; ?>"
                                class="table-radio-option radio-option validate"
                                name="child-product"
                                data-title="<?php echo $childProduct->getSizeName(); ?>"
                                data-option-price="<?php echo $childProduct->getPrice(); ?>"
                                value="<?php echo $childProduct->getId(); ?>" />
                        <label class="radio-label table-radio-label"
                               for="child-product<?php echo $key + 1; ?>"><?php echo $childProduct->getSizeName(); ?></label>
                    </th>
                    <td>
                        <span><?php echo $childProduct->getAWidth(); ?></span>
                    </td>
                    <td>
                        <span><?php echo $childProduct->getBLength(); ?></span>
                    </td>
                    <td>
                        <span><?php echo $childProduct->getCHeight(); ?></span>
                    </td>
                    <td>
                        <span><?php echo $childProduct->getDHeadboard(); ?></span>
                    </td>
                    <td>
                        <span><?php echo $childProduct->getEBase(); ?></span>
                    </td>
                    <td class="price-cell">
                        <span><?php echo $this->getCurrencyFormat($childProduct->getPrice()); ?></span>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <div class="step1-hint-bottom">
            <p>
                <?php echo __('Custom Height? Please email us:'); ?>
            </p>
        </div>
    </div>
<?php endif; ?>
